<h1 class="default-title">Agents</h1>
<div class="row mb-2">
  <% @agents.each do |agent| %>
    <%= link_to agent, :class => "agent-list-item-link", :method => 'get' do %>
      <%= image_tag agent.image, :class => 'img-thumbnail agent-list-item-image' if agent.image.present? %>
    <% end %>
  <% end %>
</div>
